<mat-toolbar color="primary">
  <span>My Class</span>
</mat-toolbar>

<mat-list style="margin: 20px;">
  <mat-list-item>
    <table>
      <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 25%;">
     </colgroup>

     <tbody>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th></th>
      </tr>
     </tbody>
    </table>
  </mat-list-item>

  <mat-list-item *ngFor="let student of students | async">
    <table>
      <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 25%;">
     </colgroup>

     <tbody>
      <tr>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td>
          <button mat-button (click)="onEdit(student)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
        </td>
        <td>
          <button mat-button (click)="onDelete(student)">
            <mat-icon color="primary">delete</mat-icon>
          </button>
        </td>
      </tr>
     </tbody>
    </table>

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<button mat-fab color="primary" style="position: fixed; right: 30px;" (click)="addStudent()">
  <mat-icon>add</mat-icon>
</button>